<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>567140264339-1ovhgpcmseeu54p3o1mllf5a073qhdta.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.567140264339-1ovhgpcmseeu54p3o1mllf5a073qhdta</string>
	<key>API_KEY</key>
	<string>AIzaSyCYQ2ib2kiMRd2mvIsQhKeruLM8df7WntI</string>
	<key>GCM_SENDER_ID</key>
	<string>567140264339</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>HHS.SportMates</string>
	<key>PROJECT_ID</key>
	<string>sports-mates-36813</string>
	<key>STORAGE_BUCKET</key>
	<string>sports-mates-36813.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:567140264339:ios:46b3a0fd4ff345d2532066</string>
</dict>
</plist>